 *{margin:0;padding:0;outline:none}
body {font-family: verdana;background: url("../img/background.jpg") }.phpcoding{width:900px; margin: 0 auto;background:url("../img/bg.jpg")}
 .headeroption {
  background: #444  url("../img/banner.png") no-repeat scroll 0 0;
  border-bottom: 2px solid #444444;
  height: 100px;
}
 .footeroption {
   background: #442A72;
   color: #fff;
   text-align: center;
   padding: 20px;
 }
 .headeroption h2, .footeroption h2{margin:0;font-size:24px}
 .maincontent {
   font-size: 18px;
   color: #fff;
 }
 p{margin:0}
input[type="text"], input[type="password"], input[type="number"] {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 5px;
  width: 238px;
}
 input[type="submit"] {
     cursor: pointer;
     font-size: 20px;
     padding: 8px 32px;
     background: #4A3669;
     color: #fff;
     border: 0;
 }
 input [type="textarea"]{
   border: 1px solid black;
   background: green;
   color: white;
   padding: 10px;
   width: 500px;
   height: 300px;
 }
 .tblone {
   width: 100%;
   margin: 20px 0;
 }
 .tblone td {
   font-size: 15px;
   padding: 5px 10px;
 }
 table.tblone th {
   background: #523A76;
   color: #fff;
 }
 table.tblone tr:nth-child(2n+1) {
   background: url("../img/table.png");
   height: 30px;
   color: #fff;
 }
 table.tblone tr:nth-child(2n) {
   height: 30px;
   color: #fff;
   background: url("../img/table2.jpg");
 }
 .tblone td a {
   color: #FFFFFF;
 }
 .success{
   color:green;
   display: block;
   padding-bottom: 5px;}
 .error,.empty,.disable {
   color: red;
   display: block;
   padding-bottom: 5px;
 }

 .main {
   background: url("../img/admin.jpg");
   border: 1px solid #999;
   min-height: 700px;
   padding: 15px;
   width: 828px;
   margin: 0 auto;
   margin-top: 2%;
   margin-bottom: 2%;
 }
 .main h1 {
   background: #00007C none repeat scroll 0 0;
   color: #fff;
   margin: 10px auto 25px;
   padding: 4px;
   text-align: center;
   width: 620px;
 }
 .menu {
   overflow: hidden;
   margin: 2%;
 }
.menu ul{margin:0;padding:0;list-style:none}
.menu ul li{display:block;float:left;}
 .menu ul li a {
     border: 1px solid #bdbdbd;
     border-radius: 4px;
     display: block;
     margin: 0 5px 5px;
     padding: 4px 11px 7px;
     text-decoration: none;
     background: #00007C;
     color: #fff;
 }
 .menu ul li a:hover {
     border: 1px solid #fff;
     color: #ffff00;
 }
 .segment {
   border: 1px solid #d3d3d3;
   border-radius: 4px;
   float: left;
   min-height: 225px;
   padding: 20px;
   width: 357px;
   margin-bottom: 2%;
 }
.segment img {
  height: 200px;
  margin-left: 80px;
  padding-top: 12px;
}
.segment h2 {
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-align: center;
}
 .segment a {
   color: #ffff00;
   text-decoration: none;
 }
.segment a:hover{text-decoration:none}
.segment ul {
  list-style: outside none none;
  margin: 0 0 0 70px;
  padding: 0;
}
.segment ul  li{}
 .segment ul li a {
   border: 1px solid #3399ff;
   border-radius: 3px;
   display: block;
   margin-bottom: 5px;
   padding: 5px 10px;
   text-align: center;
   text-decoration: none;
   width: 200px;
   background: #473366;
 }
.segment ul  li a:hover{border: 1px solid #999; color:#ffffff}


 .test {
     border: 1px solid #f3f3f3;
     margin: 0 auto;
     max-width: 100%;
     padding: 20px;
 }
.test input[type="radio"] {
  margin-bottom: 10px;
  margin-right: 10px;
  cursor:pointer;
}
 .test h3 {
     border-bottom: 1px solid #f3f3f3;
     font-size: 16px;
     margin-bottom: 25px;
     padding-bottom: 10px;
     color: #fff;
     width: 100%;
 }
 .starttest {
   margin: 0 auto;
   width: 70%;
 }
 .starttest h2 {
   border-bottom: 1px solid #ddd;
   font-size: 20px;
   margin-bottom: 10px;
   padding-bottom: 10px;
   text-align: center;
   color: #fff;
 }
 .starttest ul {
   list-style: none;
   color: #ffff40;
 }
.starttest ul li{padding: 20px}
.starttest a{
  background: #3399FF none repeat scroll 0 0;
  border: 1px solid #ddd;
  color: #fff;
  display: block;
  margin-top: 10px;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
}
 .profile {
   margin: 0 auto;
   margin-bottom: 20%;
 }
